*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.datasource
*.ReSharper
*.dotCover
*.wixpdb
[Bb]uild/
[Bb]uildOutput/
[Tt]est[Rr]esult/
[Bb]in
[Dd]ebug*/
[Oo]bj/
[Rr]elease*/
log.txt*